$primary-color     : #2196F3;
$secondary-color   : #46ce4a;
$thirdary-color    : #8D6FC3;
$background-color  : #FEFEFE;
$background2-color : #F5F5F5;
$text-color        : #37474F;
$border-color      : #C8D1D6;

$whiteColor        : #ffffff;
